@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@model Breadcrumb
<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a asp-action="index" asp-controller="home">@_localizer["home"]</a></li>
                        <li>@_localizer[Model.Page.ToString()]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
