@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="index.html">@_localizer["home"]</a></li>
                        <li>@_localizer["About Us"]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
