
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Junko - @ViewData["Title"]</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.ico">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/bootstrap-formhelpers/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="~/vendor/css/fontawesome.css">
    <link rel="stylesheet" href="~/vendor/css/owl-carousel.css">
    <link rel="stylesheet" href="~/css/plugins.css">
    <link rel="stylesheet" href="~/lib/SeewAlert/sweetalert2.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/responsive.css">

</head>

<body>

    @await Component.InvokeAsync("Header")

    @RenderBody()

    @await Component.InvokeAsync("Footer")

    <div class="smallModal">
    </div>
    <!--news letter popup start-->
    @*<div class="newletter-popup">
            <div id="boxes" class="newletter-container">
                <div id="dialog" class="window">
                    <div id="popup2">
                        <span class="b-close"><span>close</span></span>
                    </div>
                    <div class="box">
                        <div class="newletter-title">
                            <h2>Newsletter</h2>
                        </div>
                        <div class="box-content newleter-content">
                            <label class="newletter-label">
                                Enter your email address to subscribe our notification of our new
                                post &amp; features by email.
                            </label>
                            <div id="frm_subscribe">
                                <form name="subscribe" id="subscribe_popup">
                                     <span class="required">*</span><span>Enter you email address here...</span>
                                    <input type="text" value="" name="subscribe_pemail" id="subscribe_pemail"
                                           placeholder="Enter you email address here...">
                                    <input type="hidden" value="" name="subscribe_pname" id="subscribe_pname">
                                    <div id="notification"></div>
                                    <a class="theme-btn-outlined"
                                       onclick="email_subscribepopup()"><span>Subscribe</span></a>
                                </form>
                                <div class="subscribe-bottom">
                                    <input type="checkbox" id="newsletter_popup_dont_show_again">
                                    <label for="newsletter_popup_dont_show_again">Don't show this popup again</label>
                                </div>
                            </div>
                             /#frm_subscribe
                        </div>
                         /.box-content
                    </div>
                </div>

            </div>
             /.box
        </div>*@
    <!--news letter popup start-->
    <!-- Load Facebook SDK for JavaScript -->
    <!-- Your customer chat code -->
<div id="soundDummy"></div>
    <div class="fb-customerchat"
         attribution=setup_tool
         page_id="103527941195953">
    </div>
    <script src="~/js/plugins.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/lib/SeewAlert/sweetalert2.all.min.js"></script>
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0&appId=1808703825929834&autoLogAppEvents=1"></script>
    <!-- Main JS -->
    @*<script>*@
        @*window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v5.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>*@
    <script src="~/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>


</html>