@if (TempData["Success"] != null)
{
    <div class="zmdi-notifications">
        <div class="alert alert-success">
            @TempData["Success"]
        </div>
    </div>

}
@if (TempData["Error"] != null)
{

    <div class="zmdi-notifications">
        <div class="alert alert-danger ">
            @TempData["Error"]
        </div>
    </div>
}
@{
    TempData["Error"] = null;
    TempData["Success"] = null;
}
