@model AppAdmin

@{
    ViewData["Title"] = "Register";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin 2 - Qeydiyyat</title>
    <!-- Custom fonts for this template-->
    <link href="~/bootstrap-formhelpers/font-awesome/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Admin/css/sb-admin-2.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Hesab yarat!</h1>
                            </div>
                            <form asp-action="Register">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Firstname" class="control-label"></label>
                                    <input asp-for="Firstname" class="form-control" data-validation="required" />
                                    <span asp-validation-for="Firstname" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Lastname" class="control-label"></label>
                                    <input asp-for="Lastname" class="form-control" data-validation="required" />
                                    <span asp-validation-for="Lastname" class="text-danger"></span>
                                </div>
                                <input hidden asp-for="Email" />
                                <input hidden asp-for="Id" />

                                <div class="form-group">
                                    <label asp-for="PhoneNumber" class="control-label"></label>
                                    <input asp-for="PhoneNumber" class="form-control" data-validation="required" />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Birthday" class="control-label"></label>
                                    <input asp-for="Birthday" class="form-control" data-validation="required birthdate" />
                                    <span asp-validation-for="Birthday" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label for="PasswordHash_confirmation" class="control-label">Parol</label>
                                    <input type="password" name="PasswordHash_confirmation" id="PasswordHash_confirmation" data-validation="required length" data-validation-length="min8" class="form-control" />
                                    <span asp-validation-for="PasswordHash" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label for="PasswordHash" class="control-label">Təkrar Parol</label>
                                    <input type="password" asp-for="PasswordHash" class="form-control" data-validation="required confirmation" />
                                    <span asp-validation-for="PasswordHash" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Qeydiyyat" class="btn btn-primary" />
                                </div>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" asp-action="index" asp-controller="users">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="~/Admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Admin/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/lib/jquery-form-validator/jquery.form-validator.min.js"></script>
    <script src="~/lib/jquery-form-validator/security.js"></script>
    <script>
        $.validate({
            modules: 'date,security'
        });
    </script>
    <!-- Custom scripts for all pages-->
    <script src="~/Admin/js/sb-admin-2.min.js"></script>

</body>

</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
