@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@model PrivacyVM
@{
    ViewData["Title"] = _localizer["Privacy Policy"];
}

<!--breadcrumbs area start-->

@await Html.PartialAsync("~/Views/Shared/_Breadcrumb.cshtml",model:Model.Breadcrumb)
<!--breadcrumbs area end-->
<!--Main Start-->
<main>

    <!--Privacy Policy area start-->
    <div class="privacy_policy_main_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="privacy_policy_header">
                        <h1>@_localizer["Privacy Policy"]</h1>
                    </div>
                    @Html.Raw(Model.Setting.Privacy)
                </div>
            </div>
        </div>
    </div>
    <!--Privacy Policy area end-->
</main>
<!--Main End-->
