@model IEnumerable<Junko.Models.ProductColor>

@{
    ViewData["Title"] = "Seçim";
}

<partial name="_NotificationPartial" />


<p>
    <a asp-action="Create" class="btn btn-outline-success">Məhsul üçün Rəng Seçin</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    <a style="font-size:30px;color:@item.Color.Code"><i class="fas fa-tint"></i></a>
                </td>
                <td>
                    <a class="categoryDelete" asp-action="delete" asp-route-id="@item.Id"><i class="fas fa-trash text-danger"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
        $(function () {
            setTimeout(function () {
                $(".zmdi-notifications").fadeOut("slow");
            }, 2500)
        });
    </script>
}